

<script type="text/javascript" src="/static/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/static/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="/static/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/static/scripts/slick.min.js"></script>
<script type="text/javascript" src="/static/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/static/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/static/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/static/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/static/scripts/custom.js"></script>