<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>Fresh</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/FF252/style24.css">
<link rel="stylesheet" href="/static/FF252/main.css" id="colors">
<style>
    #show_nav1{
        display: none;
    }

</style>

{% block css %}
{% endblock %}


</head>

    <!-- Wrapper -->
    <div id="wrapper">

    <!-- Header Container
    ================================================== -->
    <header id="header-container" class="fixed fullwidth dashboard">

        <!-- Header -->
        <div id="header" class="not-sticky">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="/"><img src="/static/images/logo1.png" alt=""></a>
                        <a href="/" class="dashboard-logo"><img src="/static/images/logo1.png" alt=""></a>
                    </div>

                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1">
                        <ul id="responsive">
                            <li><a href="/">Home</a></li>
                            <li><a href="/eda">analysis</a>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->
                 </div>
                <!-- Left Side Content / End -->
            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


        <!-- Dashboard -->
        <div id="dashboard">

            <!-- Navigation
            ================================================== -->

            <!-- Responsive Navigation Trigger -->


            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">


                     <div id="mainss">

                    <ul data-submenu-title="Main">
                        <li class="active"><a href="/eda"><i class="sl sl-icon-envelope-open"></i> total_facility </a></li>
                        <li><a href="/eda2"><i class="sl sl-icon-settings"></i> facilty_map </a></li>
                        <li><a id="show1"><i class="sl sl-icon-settings"></i> facilty_map </a></li>
                        <li><a href="/eda4"><i class="sl sl-icon-settings"></i> big_6 </a></li>
                     </ul>
                     </div>

                    <div id ="show_nav1">
                    <ul data-submenu-title="Facility">
                        <li><a id="Back"><i class="fa fa-calendar-check-o"></i>Back</a></li>
                        <li><a href="/in">주출입구 접근로</a></li>
                        <li><a href="/no_heigh">주출입구 높이차이 제거</a></li>
                        <li><a href="/parking">장애인 전용 주차구역</a></li>
                        <li><a href="/ev">장애인용 승강기</a></li>
                        <li><a href="/toilet">장애인용 화장실</a></li>
                        <li><a href="/auto_door">자동 출입구(문)</a></li>
                        <li><a href="/waring">경보 및 피난설비</a></li>
                        <li><a href="/bed">객실 및 침실</a></li>
                        <li><a href="/dotblock">점자블록</a></li>
                        <li><a href="/view">장애인용 관람석</a></li>
                        <li><a href="/wash">세면대</a></li>
                        <li><a href="/dask">접수대 및 작업대</a></li>
                        <li><a href="/auto_dask">자동 판매기</a></li>
                        <li><a href="/eatingwater">음료대</a></li>
                        <li><a href="/bath">욕실</a></li>
                        <li><a href="/rocker">샤워실 및 탈의실</a></li>
                     </ul>
                    </div>
                </div>

            </div>


        <!-- Navigation / End -->


        <!-- Content
        ================================================== -->
        {% block content %}
        {% endblock %}

        <!-- Content / End -->
        </div>

    </div>
    <!-- Dashboard / End -->



    <!-- Wrapper / End -->



{% block body %}
{% endblock %}
<body>





<!-- Scripts
================================================== -->



{% include 'basescript.html' %}
{% block script %}
{% endblock %}
<script>



    {#$(document).ready(function(){#}
    {#$("#show1").click(function() {#}
    {#      $( "#mainss" ).fadeOut(1000);#}
    {#      $( "#show_nav1" ).fadeIn( 1000 );#}
    {##}

    $(document).ready(function(){
        $("#show1").click(function(){
            $("#show_nav1").slideDown("slow");
        });
    });

    $(document).ready(function(){
    $("#Back").click(function(){
        $("#show_nav1").slideUp("slow");
    });
});


</script>

</body>
